In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv')
melb_df = melb_data.copy()
#melb_df.head(5)

In [26]:
melb_df = melb_df.drop(['index', 'Сoordinates'], axis=1)

In [ ]:
melb_df.head()

In [27]:
melb_data['Postcode'] = melb_data['Postcode'].astype('int64')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Rooms'] = melb_data['Rooms'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

In [1]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
total_rooms = total_rooms.astype('int32')
display(total_rooms)

NameError: name 'melb_df' is not defined

In [29]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms

In [ ]:
melb_df.head(5)

In [30]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area / sum_area

In [ ]:
display(melb_df['AreaRatio'])

In [ ]:
display(melb_df.columns)

In [23]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [30]:
countries_df['density'] = (countries_df['population'] / countries_df['square']) * 1000000

In [ ]:
display(countries_df['density'].mean())

In [ ]:
display(melb_df['Date'])

In [31]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
#display(melb_df['Date'])

In [ ]:
years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode([0]))

In [ ]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

In [ ]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days)

In [ ]:
display(delta_days.dt.days)

In [ ]:
melb_df.head(10)

In [ ]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

In [ ]:
melb_df.drop('YearBuilt', axis=1)

In [ ]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
display(melb_df['WeekdaySale'])

In [38]:
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
print(weekend_count)

9226

In [101]:
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo_df = ufo_data.copy()

In [ ]:
ufo_df.describe()

In [ ]:
ufo_df.head(5)

In [102]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'])

In [103]:
ufo_df['Year'] = ufo_df['Time'].dt.year

In [ ]:
ufo_df['Year'].value_counts(normalize=True)

In [104]:
ufo_df['Date'] = ufo_df['Time'].dt.date

In [ ]:
ufo_df[ufo_df['State'] == 'NV']['Date'].diff().dt.days.mean()

In [6]:
melb_df['Address'].nunique()

13378

In [11]:
print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

In [39]:
def get_street_type(adress):
    exclude_list = ['N', 'S', 'W', 'E']
    adress_list = adress.split()
    street_type = adress_list[-1]
    if street_type in exclude_list:
        street_type = adress_list[-2]
    return street_type

In [ ]:
melb_df.head()

In [40]:
street_types = melb_df['Address'].apply(get_street_type)

In [ ]:
display(street_types)

In [15]:
print(street_types.nunique())

56

In [ ]:
street_types.value_counts()

In [41]:
popular_types = street_types.value_counts().nlargest(10).index

In [18]:
print(popular_types)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [42]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_types else 'other')

In [ ]:
display(melb_df['StreetType'])

In [22]:
print(melb_df['StreetType'].nunique())

11

In [43]:
melb_df = melb_df.drop('Address', axis=1)

In [47]:
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067,2.0,...,-37.7996,144.9984,Northern Metropolitan,4019.0,25.20,-0.231707,3,46.0,5,St
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067,2.0,...,-37.8079,144.9934,Northern Metropolitan,4019.0,15.80,-0.327660,4,116.0,5,St
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3.0,...,-37.8093,144.9944,Northern Metropolitan,4019.0,18.75,0.056338,4,117.0,0,St
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067,3.0,...,-37.7969,144.9969,Northern Metropolitan,4019.0,15.75,0.145455,4,47.0,0,other
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3.0,...,-37.8072,144.9941,Northern Metropolitan,4019.0,17.75,0.083969,4,2.0,2,St

In [48]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0

In [49]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

In [51]:
melb_df[melb_df['Weekend'] == 1]['Price'].mean()

1083291.6953175808

In [52]:
melb_df['SellerG'].value_counts()

Nelson               1565
Jellis               1316
hockingstuart        1167
Barry                1011
Ray                   701
                     ...
Ash                     1
Private/Tiernan's       1
Metro                   1
Weast                   1
Community               1
Name: SellerG, Length: 268, dtype: int64

In [53]:
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index

In [54]:
print(popular_seller)

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Woodards', 'Fletchers', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Purplebricks', 'Eview', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object')

In [55]:
sellers = melb_df['SellerG']

In [56]:
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')

In [59]:
melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min() / melb_df[melb_df['SellerG'] == 'other']['Price'].min()

1.297709923664122

In [85]:
def get_experience(arg):
    """
    Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. 
    Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
    """
    arg_list = arg.split()
    if len(arg_list) == 6:
        months = int(arg_list[-2]) + int(arg_list[-4])*12
    else:
        if len(arg_list[-1]) > 4:
        #if arg_list[-1][0] == 'м':
            months = int(arg_list[-2])
        else:
            months = int(arg_list[-2])*12
    return months

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)

In [ ]:
print(experience_month)

In [101]:
unique_list = []
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtype)
    unique_list.append(item)
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique', ignore_index=True)

In [ ]:
melb_df = melb_df.drop('YearBuilt', axis=1)

In [ ]:
display(unique_counts)

In [ ]:
display(melb_df.info())

In [104]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_count = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')

In [ ]:
display(melb_df.info())

In [106]:
print(melb_df['Regionname'].cat.categories)

Index(['Eastern Metropolitan', 'Eastern Victoria', 'Northern Metropolitan',
       'Northern Victoria', 'South-Eastern Metropolitan',
       'Southern Metropolitan', 'Western Metropolitan', 'Western Victoria'],
      dtype='object')

In [ ]:
print(melb_df['Regionname'].cat.codes)

In [108]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})

In [ ]:
display(melb_df['Type'])

In [114]:
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)

In [115]:
display(new_houses_types)

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

In [113]:
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')

In [116]:
print(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  float64
 10  Bathroom         13580 non-null  float64
 11  Car              13580 non-null  float64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  float64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  float64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(13), int64(2), object(1)
memory usage: 1.9+ MB
None

In [119]:
popular_suburbs = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_suburbs else 'other')

In [122]:
melb_df['Suburb'] = melb_df['Suburb'].astype('category')

In [ ]:
print(melb_df.info())

In [3]:
bike_data = pd.read_csv('data/citibike-tripdata.csv')
bike_df = bike_data.copy()

In [171]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station id         299831 non-null  float64
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip_duration            300000 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(4), object(1)
memory usage: 29.8+ MB

In [129]:
bike_df['bikeid'].mode()

0    33887
dtype: int64

In [130]:
bike_df['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [132]:
bike_df[bike_df['gender'] == 1].shape[0]

183582

In [170]:
bike_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,gender,age,trip_duration
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1.108647,38.635197,999.914503
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,0.613398,11.920796,1793.990044
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,0.000000,16.000000,61.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1.000000,29.000000,394.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1.000000,36.000000,697.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1.000000,49.000000,1256.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2.000000,133.000000,85973.000000

In [4]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])

In [5]:
bike_df['start_day'] = bike_df['starttime'].dt.date

In [6]:
bike_df['age'] = 2018 - bike_df['birth year']

In [146]:
bike_df['age'].min()

16

In [ ]:
bike_df['start station name'].value_counts()

In [21]:
bike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,start_day,age,trip_duration,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,2018-09-01,38,1635,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,2018-09-01,49,132,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,2018-09-01,43,3337,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,2018-09-01,34,436,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,2018-09-01,24,8457,1,night

In [7]:
bike_df = bike_df.drop('birth year', axis=1)

In [154]:
bike_df.shape

(300000, 12)

In [158]:
bike_df[bike_df['age'] > 60].shape[0]

11837

In [10]:
bike_df['trip_duration'] = bike_df['stoptime'] - bike_df['starttime']

In [11]:
bike_df['trip_duration'] = bike_df['trip_duration'].dt.seconds

In [165]:
bike_df['trip_duration'].mean()

999.9145033333333

In [9]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])

In [12]:
bike_df['weekend'] = bike_df['starttime'].apply(lambda x: 1 if (x.dayofweek == 5 or x.dayofweek == 6) else 0)

In [13]:
bike_df[bike_df['weekend'] == 1].shape[0]

115135

In [19]:
def time_of_day(time):
    if 0 <= time.hour <= 6:
        return 'night'
    elif 6 < time.hour <= 12:
        return 'morning'
    elif 12 < time.hour <= 18:
        return 'day'
    else:
        return 'evening'

In [20]:
bike_df['time_of_day'] = bike_df['starttime'].apply(time_of_day)

In [22]:
display(bike_df[bike_df['time_of_day'] == 'day'].shape[0] / bike_df[bike_df['time_of_day'] == 'night'].shape[0])

9.480411004308916